body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #E6F7F8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007B63;
    font-size: 24px;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #007B63;
}

.userlabel {
    display: flex;
    justify-content: center
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.login-section {
    margin-bottom: 40px;
}

.login-button, .change-login-button, .register-button {
    display: block;
    width: 93%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.login-button {
    background-color: #007B63;
    color: white;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.change-login-button {
    background-color: #E6F7F8;
    color: #007B63;
    border: 1px solid #007B63;
}

.register-button {
    background-color: #90D7D3;
    color: white;
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
    padding: 15px;
    font-size: 16px;
    display: block;
    margin: 10 0 5 0;
}

.info-section p {
    color: #007B63;
    margin: 10px 0;
}
